<main id="main" class="main">
    <div class="pagetitle">
       <h1>Make Payment</h1>
       
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-6">
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title">Default List Group</h5>
                   <ul class="list-group">
                      <li class="list-group-item"> <strong>Bank Name &nbsp;:</strong> &nbsp;ICICI </li>
                      <li class="list-group-item"> <strong>Bank Branch &nbsp;:</strong>&nbsp;Udaipur </li>
                      <li class="list-group-item"><strong>Account Number &nbsp;:</strong>&nbsp;987654321012</li>
                      <li class="list-group-item"> <strong>IFCSCODE &nbsp; :</strong> &nbsp;ICICI0010 </li>>
                      
                   </ul>
                </div>
             </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                   <div class="card-body">
                      <h5 class="card-title">UPI Payment</h5>
                      <img class="rounded mx-auto d-block" src="assets/img/qr.png" height="180px" alt="">
                   </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-12">
                <div class="card">
                   <div class="card-body">
                      <h5 class="card-title">All options</h5>
                      <img class="rounded mx-auto d-block" src="assets/img/payment.png" height="80px" alt="">
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary rounded-pill " [routerLink]="['/','dashboard']" style="margin: 5px;">Dashboard</button>
                      </div>
                   </div>
                </div>
            </div>
        </div>
     </section>
</main>
