<main id="main" class="main">
    <div class="pagetitle">
       <h1>Dashboard</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
             <li class="breadcrumb-item"><a routerLink="/user-tenderinfo">Tender</a></li>
             <li class="breadcrumb-item active">Apply</li>
          </ol>
       </nav>
    </div>
    <section class="section">
        <div class="row">
           <div class="col-xxl-4 col-xl-12">
              <div class="card">
                 <div class="card-body">
                    <h5 class="card-title">Bid</h5>
                    <form [formGroup]="applytenderpg"  novalidate>
                       <div class="row mb-3">
                          <label for="inputText" class="col-sm-2 col-form-label">Name</label>
                          <div class="col-sm-10"> <input type="text" class="form-control" formControlName="applyname"></div>
                       </div>
                       <div class="row mb-3">
                        <label for="inputDate" class="col-sm-2 col-form-label">Issued Date</label>
                        <div class="col-sm-10"> <input type="date" class="form-control" formControlName="applydate"></div>
                     </div>
                     <!-- <div class="row mb-3">
                        <label for="inputDate" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10"> <input type="date" class="form-control"></div>
                     </div> -->
                     <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label">Amount</label>
                        <div class="col-sm-10"> <input type="number" class="form-control" formControlName="applyamount"></div>
                     </div>
                     <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label">Phone number</label>
                        <div class="col-sm-10"> <input type="number" class="form-control" formControlName="applyphone"></div>
                     </div>
                     <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label">GST no</label>
                        <div class="col-sm-10"> <input type="text" class="form-control" formControlName="applygst"></div>
                     </div>
                     <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label">Account number</label>
                        <div class="col-sm-10"> <input type="number" class="form-control" formControlName="applyaccount"></div>
                     </div>
                     <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label">Bid Details</label>
                        <div class="col-sm-10"> <input type="text" class="form-control" formControlName="biddetails"></div>
                     </div>
                     <div class="text-center">
                        <button type="submit" class="btn btn-primary rounded-pill " (click)="apply()">Apply</button>
                     </div>

                    </form>
                 </div>
              </div>
           </div>
        </div>
    </section>
    
</main>
