<main>
    <div class="container">
       <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
          <div class="container">
             <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                   <div class="d-flex justify-content-center py-4"> <a routerLink="/" class="logo d-flex align-items-center w-auto"> <img src="assets/img/logo.png" alt=""> <span class="d-none d-lg-block">User</span> </a></div>
                   <div class="card mb-3">
                      <div class="card-body">
                         <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Register</h5>
                            <p class="text-center small">Enter otp sent on your Email or phone number</p>
                         </div>
                         <form [formGroup]="registerotppg" (ngSubmit)="proceed()" class="row g-3 needs-validation" novalidate >
                            
                            <div class="col-12">
                               <label for="yourOTP" class="form-label">Enter OTP sent on your email or phone.no</label> <input type="number" name="otp" class="form-control" id="yourOTP" required formControlName="otp">
                               <div class="invalid-feedback">Please enter OTP!</div>
                               <p   class="small mb-0" class="resend" (click)="resendotp()"><strong>Resend otp</strong>  in {{currtime}} <countdown [hidden]="true" #cd [config]="config" (event)="handleEvent($event)" id="countdown"></countdown> seconds.</p>
                               
                            </div>
                            <div class="col-12"> <button class="btn btn-primary w-100" type="submit">Proceed</button></div>
                            
                         </form>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </section>
    </div>
 </main>