<app-header *ngIf="!(_router.url === '/pages-register' || _router.url === '/pages-login' || _router.url === '/user-login' || _router.url === '/pages-error404' || _router.url === '/forgot' || _router.url.includes('/newpassword')  || _router.url.includes('/registerotp') || _router.url === '/admin-dashboard' )" ></app-header>
<app-admin-header *ngIf="(_router.url.includes('/admin-'))"></app-admin-header>
<app-sidebar *ngIf="!(_router.url === '/pages-register' || _router.url === '/pages-login' || _router.url === '/user-login' || _router.url === '/pages-error404' || _router.url === '/forgot' || _router.url.includes('/newpassword') || _router.url.includes('/registerotp') || _router.url === '/admin-dashboard')" ></app-sidebar>
<app-admin-sidebar *ngIf="(_router.url.includes('/admin-'))"></app-admin-sidebar>
<router-outlet></router-outlet>
<app-footer *ngIf="!(_router.url === '/pages-register' || _router.url === '/pages-login' || _router.url === '/user-login'  || _router.url === '/pages-error404' || _router.url === '/forgot' || _router.url.includes('/newpassword') || _router.url.includes('/registerotp') )" ></app-footer>

