<main id="main" class="main">
    <div class="pagetitle">
       <h1>Dashboard</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item active"><a routerLink="/admin-dashboard">Dashboard</a></li>
             <li class="breadcrumb-item active">Bids</li>
          </ol>
       </nav>
    </div>
    <section class="section dashboard">
      <div class="row">
        <section class="section">
           <div class="row">
              <div class="col-lg-12">
               <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                     <h2 class="accordion-header" id="headingOne"> <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Filter Bids</button></h2>
                     <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body"> 
                           <form [formGroup]="filterpg">
                              <div class="form-check">
                                 <input class="form-check-input" type="radio" name="radio" id="flexRadioDefault1" value="alph" formControlName="radio" checked >
                                 <label class="form-check-label" for="flexRadioDefault1">Alphbatically</label>
                               </div>
                               <div class="form-check">
                                 <input class="form-check-input" type="radio" name="radio" id="flexRadioDefault2" value="max" formControlName="radio">
                                 <label class="form-check-label" for="flexRadioDefault2">maximum bid first</label>
                               </div>
                               <div class="form-check">
                                 <input class="form-check-input" type="radio" name="radio" id="flexRadioDefault2" value="min" formControlName="radio">
                                 <label class="form-check-label" for="flexRadioDefault2">minimum bid first</label>
                               </div>
                               <div class="form-check">
                                 <input class="form-check-input" type="radio" name="radio" id="flexRadioDefault2" value="latest" formControlName="radio">
                                 <label class="form-check-label" for="flexRadioDefault2">latest bids first</label>
                               </div>
                               <div class="form-check">
                                 <input class="form-check-input" type="radio" name="radio" id="flexRadioDefault2" value="oldest" formControlName="radio">
                                 <label class="form-check-label" for="flexRadioDefault2">oldest bids</label>
                               </div>
                              <button type="submit" class="btn btn-primary rounded-pill " style="margin:10px;" (click)="filter()">Filter</button>
                           </form>

                        </div>
                     </div>
                     
                  </div>
                
                 </div>
              </div>
           </div>
        </section>
      </div>
   </section>

    <section class="section dashboard">
       <div class="row">
         <section class="section">
            <div class="row">
               <div class="col-lg-12">
                  
                  <div class="card">
                     <div class="card-body">
                        <h2 class="card-title">Bids</h2>
                        <table class="table table-striped " >
                           <thead>
                              <tr>
                                <th scope="col">S.no</th>
                                <th scope="col">BidId</th>
                                <th scope="col">Bidder Name</th>
                                <th scope="col">UserId</th>
                                <th scope="col">Bid Date</th> 
                                <th scope="col">Bid Amount</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let bid of bids ; let i=index">
                                 <th scope="row">{{i+1}}</th>
                                 <td>{{bid.bidId}}</td>
                                 <td>{{bid.bidname}}</td>
                                 <td>{{bid.userID}}</td>
                                 <td>{{bid.biddate}}</td>
                                 <td>{{bid.bidamount}}</td>
                                 <td>
                                    
                                    <span *ngIf="bid.approved " class="badge border-success border-1 text-success">Approved</span>
                                    <span *ngIf="!bid.approved " class="badge border-warning border-1 text-warning">Notapproved</span>
                                    </td>
                                 <td>
                                    <button style="margin-right:10px ;" type="button"  class="btn btn-info btn-sm"  [routerLink]="['/','admin-tenderbidinfo']" [queryParams]="{ bidId: bid.bidId}"><i class="bi bi-info-circle"></i></button>                                
                                 </td>
                              </tr>
                              
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </section>
       </div>
    </section>
 </main>