<main id="main" class="main">
    <div class="pagetitle">
       <h1>Dashboard</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item"><a routerLink="/admin-dashboard">Dashboard</a></li>
             <li class="breadcrumb-item active">Bidder info</li>
          </ol>
       </nav>
    </div>
    <section class="section">
        <div class="row">
           <div class="col-xxl-4 col-xl-12">
              <div class="card">
                 <div class="card-body">
                    <h5 class="card-title">New Tender</h5>
                    <form>
                       <div class="row mb-3">
                          <label for="inputText" class="col-sm-2 col-form-label">Title</label>
                          <div class="col-sm-10"> <input type="text" class="form-control"></div>
                       </div>
                       <div class="row mb-3">
                        <label for="inputDate" class="col-sm-2 col-form-label">Opening Date</label>
                        <div class="col-sm-10"> <input type="date" class="form-control"></div>
                     </div>
                     <div class="row mb-3">
                        <label for="inputDate" class="col-sm-2 col-form-label">Closing Date</label>
                        <div class="col-sm-10"> <input type="date" class="form-control"></div>
                     </div>
                     <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Type</label>
                        <div class="col-sm-10">
                           <select class="form-select" aria-label="Default select example">
                              <option selected></option>
                              <option value="1">Open Tender</option>
                              <option value="2">Restricted Tender</option>
                              <option value="3">Single Source Restricted tender</option>
                           </select>
                        </div>
                     </div>
                     <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Supplier</label>
                        <div class="col-sm-10">
                           <select class="form-select" aria-label="Default select example">
                              <option selected></option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                           </select>
                        </div>
                     </div>
                     <div class="card">
                        <div class="card-body">
                           <h5 class="card-title">Default Tabs</h5>
                           <ul class="nav nav-tabs" id="myTab" role="tablist">
                              <li class="nav-item" role="presentation"> <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Product</button></li>
                           </ul>
                           <div class="tab-content pt-2" id="myTabContent">
                              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                 <table class="table table-sm">
                                    <thead>
                                       <tr>
                                          <th scope="col">S.no</th>
                                          <th scope="col">Product</th>
                                          <th scope="col">Description</th>
                                          <th scope="col">Product Qnt.</th>
                                          <th scope="col">Unit</th>
                                          <th scope="col">Boq Attachment</th>
                                          <th scope="col">Other Attachment</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr>
                                          <th scope="row">1</th>
                                          <td>Brandon Jacob</td>
                                          <td>Designer</td>
                                          <td>28</td>
                                          <td>2016-05-25</td>
                                          <td>28</td>
                                          <td>28</td>
                                       </tr>
                                       <tr>
                                          <th scope="row"></th>
                                          <td>
                                             <button type="button" class="btn btn-primary btn-sm rounded-pill" data-bs-toggle="modal" data-bs-target="#largeModal">Add a lines</button>
                                             <div class="modal fade" id="largeModal" tabindex="-1">
                                                <div class="modal-dialog modal-lg">
                                                   <div class="modal-content">
                                                      <div class="modal-header">
                                                         <h5 class="modal-title">Create tender line</h5>
                                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                      </div>
                                                      <div class="modal-body">
                                                         <form>
                                                            <div class="row mb-3">
                                                               <label for="inputText" class="col-sm-2 col-form-label">Product</label>
                                                               <div class="col-sm-10"> <input type="text" class="form-control"></div>
                                                            </div>
                                                            <div class="row mb-3">
                                                               <label for="inputText" class="col-sm-2 col-form-label">Description</label>
                                                               <div class="col-sm-10"> <input type="text" class="form-control"></div>
                                                            </div>
                                                            <div class="row mb-3">
                                                               <label for="inputText" class="col-sm-2 col-form-label">Product Quantity</label>
                                                               <div class="col-sm-10"> <input type="text" class="form-control"></div>
                                                            </div>
                                                            <div class="row mb-3">
                                                               <label for="inputText" class="col-sm-2 col-form-label">Unit of Measure</label>
                                                               <div class="col-sm-10"> <input type="text" class="form-control"></div>
                                                            </div>
                                                            <div class="row mb-3">
                                                               <label for="inputNumber" class="col-sm-2 col-form-label">Boq Attachment</label>
                                                               <div class="col-sm-10"> <input class="form-control" type="file" id="formFile"></div>
                                                            </div>
                                                            <div class="row mb-3">
                                                               <label for="inputNumber" class="col-sm-2 col-form-label">Other Attachment</label>
                                                               <div class="col-sm-10"> <input class="form-control" type="file" id="formFile"></div>
                                                            </div>
                                                         </form>
                                                      </div>
                                                      <div class="modal-footer"> <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> <button type="button" class="btn btn-primary">Save changes</button></div>
                                                   </div>
                                                </div>
                                             </div>
                                          </td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                       </tr>
                                       
                                    </tbody>
                                 </table>
                              </div>
               
                           </div>
                        </div>
                     </div>
                    </form>
                </div>
             </div>
          </div>
       </div>
   </section>
   
</main>

