<main>
    <div class="container">
       <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
          <div class="container">
             <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                   <div class="d-flex justify-content-center py-4"> <a routerLink="/" class="logo d-flex align-items-center w-auto"> <img src="assets/img/logo.png" alt=""> <span class="d-none d-lg-block">User</span> </a></div>
                   <div class="card mb-3">
                      <div class="card-body">
                         <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Creat new password</h5>
                            <p class="text-center small">Enter new password</p>
                         </div>
                         <form [formGroup]="newpasspg" (ngSubmit)="save()" class="row g-3 needs-validation" novalidate >
                            <div class="col-12">
                               <label for="yourPassword" class="form-label">New Password</label><show-hide-password><input type="password" name="password" class="form-control" id="yourPassword" (change)="validpassword($event)" required formControlName="password"></show-hide-password>
                               <div class="invalid-feedback">Please enter your password!</div>
                               <div *ngIf="newpasspg.value['password'] && !isvalidpassword" class="invalid-user">Password must be of atleast 8 characters containing one upper case letter,lowecase letter,special character and a number.</div>
                            </div>
                            <div class="col-12">
                                <label for="yourconfPassword" class="form-label">Confirm Password</label> <input type="password" name="confpassword" class="form-control" id="confPassword" (change)="matchpass()" required formControlName="confpassword">
                                <div class="invalid-feedback">Please enter your password!</div>
                                <div *ngIf="newpasspg.value['confpassword'] && !same" class="invalid-user">Password doesnot matches!</div>
                             </div>
                            <div class="col-12"> <button class="btn btn-primary w-100" type="submit">Save</button></div>
                         </form>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </section>
    </div>
 </main>