<main id="main" class="main">
   <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
         </ol>
      </nav>
   </div>
   <section class="section dashboard">
      <div class="row">
        <section class="section">
           <div class="row">
              <div class="col-lg-12">
                 
                 <div class="card">
                    <div class="card-body">
                       <h2 class="card-title">Tenders</h2>
                       <table class="table table-striped " >
                          <thead>
                             <tr>
                                <th scope="col">S.No.</th>
                                <th scope="col">Tender Id</th>
                                <th scope="col">Tender Name</th>
                                <th scope="col">Tender Organization</th>
                                <th scope="col">Upload Date</th>
                                <th scope="col">Close Date</th>
                                <th scope="col">View</th>
                             </tr>
                          </thead>
                          <tbody>
                             <tr *ngFor="let tender of tenderlist ; let i=index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{tender.tenderid}}</td>
                                <td>{{tender.tendername}}</td>
                                <td>{{tender.organization}}</td>
                                <td>{{tender.uploaddate}}</td>
                                <td>{{tender.enddate}}</td>
                                <td>
                                 <button style="margin-right:10px ;" type="button"  class="btn btn-outline-info btn-sm rounded-pill"  [routerLink]="['/','user-tenderinfo']" [queryParams]="{ tenderid: tender.tenderid}">view</button>
                                 <!-- <button *ngIf="tender.notify" type="button"  class="btn btn-warning btn-sm" [routerLink]="['/','user-tenderbid']" [queryParams]="{ tenderid: tender.tenderid}"><i class="bi bi-bell -fill"></i></button>                                   -->
                              </td>
                             </tr>
                             
                          </tbody>
                       </table>
                    </div>
                 </div>
              </div>
           </div>
        </section>
      </div>
   </section>
</main>